.About {
    padding-block: 80px 80px;
}
.About img {
    width: 100%;
}
.About .more-btn {
    background-color: rgb(39, 174, 96) !important;
    padding: 20px 25px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
